.Starship {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  padding: 20px;
}

.Starship:last-child {
  border-right: 0;
}

.Starship h1 {
  margin-top: 0;
}

.Starship-wrapper-content {
  margin-left: 10px;
}

.Starship-wrapper-content a {
  color: inherit;
}

.Starship-wrapper-content a:hover {
  color: #ebd800;
  text-decoration: none;
}

.Starship-wrapper-content span {
  font-size: 20px;
}
